.iframe_modal img {
    max-width: 200px;
    max-height: 220px;
}


.iframe_modal h5 {
    color: orange;
    font-size: 1.7vw;
    margin-top: 5px;
}

.iframe_modal h6 {
    color: #fff;
    font-size: 1.5vw;
}

.iframe_modal .col-sm-12 {
    text-align: center;
}

.iframe_modal .col-lg-8.content {
    text-align: left;
}


.iframe_modal .btn_primary {
    padding: 4px 10px;
}

@media (max-width: 576px) {
    .iframe_modal img {
        max-width: 200px;
        max-height: 150px;
    }

    .iframe_modal h5 {
        color: orange;
        font-size: 3.2vw;
        margin-top: 5px;
    }

    .iframe_modal h6 {
        color: #fff;
        font-size: 3vw;
    }

    .iframe_modal .btn_primary {
        font-size: 3.2vw;

    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}