
.cinema_banner-detail.banner {
    height: 500px
}

.cinema_banner-detail .banner_content-mid {
}

.cinema_banner-detail .banner_content-mid img {
    width: 100%;
    height: 100%;
}

.cinema_banner-detail .banner_content-mid .banner_wrap-icon-mini {
    top: 50%
}

.cinema_banner-detail .cinema_title-release {
    font-size: 40px;
}

.banner_detail-right div {
    margin-top: 20px
}



.logo_system {
    cursor: pointer;
    text-align: center;
    margin-top: 17px;
    border: 1px solid var(--border-gb);
}

.logo_system:first-child {
    margin-top: 0;
}

.logo_system img {
    height: 40px;
    width: 40px;
}

.cinema_release-active {
    background-color: var(--second-color);
}

.cinema_logo-active {
    background-color: var(--bg-logo);
}


.cinema_release-label {
    padding: 10px;
}

.cinema_release-input {
    position: absolute;
    top: 0;
    opacity: 0;
}


.cinema_release-label.active {
    border-left: 2px solid var(--bg-calendar);
    border-right: 2px solid var(--bg-calendar);

}

.cinema {
    padding: 0 150px;
}

.cinema_release-date {
    position: relative;
    font-weight: 600;
    padding: 4px;
    display: inline-block;
    font-size: 1.4vw;
}

.cinema_release-label.active .cinema_release-date {
    background-color: var(--bg-calendar);
    border-radius: 50%;

}

.cinema_release-label.active .cinema_release-day {
    color: var(--bg-calendar)
}

.cinema_release-label .cinema_release-day {
    font-weight: 600;
    font-size: 1.4vw;
    margin: 0;
}

.cinema_text {
    font-weight: 500
}

.cinema_text-year {
    font-size: 3vw;
    color: var(--bg-calendar);
}

.cinema_text-month {
    font-size: 2.4vw;
}

.cinema_title-cluster h5 {
    color: var(--title-color);

    font-size: 16px;
}

.cinema_title-cluster h6 {
    font-size: 14px;
}

.cinema_title {
    margin: 0;
    color: var(--primary-color);

    font-size: 16px;
}


.cinema_title-release-date span {
    color: red;
    font-size: 17px;
    font-weight: 500;
}

.cinema_title-release-ticket {
    color: #0be00b;
    ;
    font-size: 20px;
    font-weight: 600;
}



.cinema_list-film h3 {
    color: var(--second-color);
    font-size: 2.6vw;
    padding: 20px;
}

.detail_banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cinema_calender-wrap-bot img {
    height: 100%;
    width: 100%;
    padding: 0;
}

.cinema_calender-img {
    max-height: 200px;

}


@media (max-width: 576px) {
    .banner_detail-right div {
        margin-top: 5px
    }
    .cinema_banner-detail.banner {
        height: 300px
    }
    .cinema_release-label {
        padding: 4px;
    }

    .cinema_banner-detail .cinema_title-release {
        font-size: 20px;
    }

    .cinema_banner-detail.banner {
        height: 350px;
    }

    .cinema_banner-detail .banner_content-mid {
        padding: 20px;
    }

    .cinema {
        padding: 0 30px;
    }



    .logo_system img {
        height: 25px;
        width: 25px;
    }

    .cinema_title-cluster h5 {
        font-size: 8.5px;

    }

    .cinema_title-cluster h6 {
        font-size: 6.5px;
    }

    .cinema_title {
        margin-top: 2px;
        font-size: 8px;
    }

    .cinema_release-label .cinema_release-day {
        font-size: 10px;
    }

    .cinema_release-date {
        font-size: 10px;
    }

    .cinema_calender-img {
        max-height: 80px;
    }
}

@media (min-width: 576px) {
    .cinema_banner-detail .banner_content-mid {
        padding: 20px;
    }
    .cinema {
        padding: 0px 25px;
    }
    .banner_detail-right div {
        margin-top: 10px
    }
    .cinema_banner-detail.banner {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .cinema {
        padding: 0px 70px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}