.cinema {
    background-color: var(--bg-main-body);
}

.cinema__content {
    border: 1px solid #424e61;
    box-shadow: 0 2px 8px 0 rgba(76, 104, 120, 0.47);
}

.cinema_release {
    text-align: center;
    padding: 4px;

}

.cinema_release-active {
    background-color: var(--second-color);
}

.cinema_header-logo {
    padding: 0 130px;
}

.cinema_header-logo .logo_system {
    margin: 0;
}

.cinema {
    padding: 0 150px;
}

.cinema_release-date {
    position: relative;
    font-weight: 600;
    padding: 4px;
    display: inline-block;
}

.cinema_release-label {
    padding: 10px;
}

.cinema_release-input {
    position: absolute;
    top: 0;
    opacity: 0;
}


.cinema_text {
    font-weight: 500
}

.cinema_text-month {
    font-size: 25px;
}

.cinema_calender-wrap-bot img {
    border-radius: 8px;
    width: 100px;
    height: 140px;
}


.cinema_calender-wrap-top {
    flex: 30%;
}

.height-100 {
    height: 100%;
}

.cinema_calender-wrap-bot,
.cinema__content_left {
    position: relative;
    flex: 70%;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;

    overflow-x: hidden;
}

.cinema_calender-wrap-bot .row {
    padding: 10px 20px;
}



.cinema_title-release {
    color: var(--bg-calendar);
    font-size: 22px;
    font-weight: 600;
}

.cinema_title-release-date {
    font-weight: 400;
    font-size: 15px;
    margin: 5px 0;
}

.cinema_title-release-date span {
    color: red;
    font-size: 17px;
    font-weight: 500;
}

.cinema_title-release-ticket {
    color: #0be00b;
    ;
    font-size: 20px;
    font-weight: 600;
}

.cinema_gif-ticket {
    background-image: url("./monophy.gif");
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 50px;
    display: inline-block;
}

.cinema_ticket-wrap {
    font-size: 15px;
}

.cinema_ticket-tap {
    font-size: 16px;
    font-weight: 600;
}

.cinema_ticket-btn {
    background-color: #ffc107;
    box-shadow: 0 0 5px rgb(239, 239, 119);
    color: black;
}

.cinema_header {
    color: var(--third-color);
    margin: 40px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-calendar);
    font-weight: bold;
    font-size: 3vw;

}

.cinema_list-film {
    margin: 60px;
}


.cinema_title-release-date,
.cinema_ticket-wrap {
    font-weight: 600;
}


/* ------------------Media Query---------------- */
@media (max-width: 576px) {
    .slick-dots {
        display: none !important;
    }

    .cinema {
        padding: 0px 10px;
    }

    .cinema_calender-wrap-bot .row {
        padding: 5px;
    }

    .cinema_title-release {
        font-size: 10px;
    }

    .cinema_list-film {
        margin: 40px;
    }

    .cinema__content_left .cinema_ClusterCinema {
        flex-wrap: nowrap;
        max-height: 130px;
        overflow-x: auto;
        overflow-y: hidden !important;
    }

    .cinema__content_left .cinema_ClusterCinema::-webkit-scrollbar-track {
        border: 1px solid #000;
        background-color: #fff;
    }

    .cinema__content_left .cinema_ClusterCinema::-webkit-scrollbar {
        width: 10px;
        margin-top: 10px;
    }

    .cinema__content_left .cinema_ClusterCinema::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background: var(--bg-main-div);
        border: 1px solid #000;
    }

    .cinema_calender-wrap-bot img {
        width: 60px;
        height: 85px;
    }

    .cinema_header-logo {
        padding: 0 0;
    }

}

@media (min-width: 576px) {
    .cinema_calender-wrap-bot img {
        width: 76px;
        height: 90px;
    }

    .cinema {
        padding: 0px 10px;
    }

    .cinema_calender-wrap-bot .row {
        padding: 5px;
    }

    .cinema_title-release {
        font-size: 16px;
    }

    .cinema_header-logo {
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    .cinema {
        padding: 0px 30px;
    }

    .cinema_calender-wrap-bot img {
        width: 100px;
        height: 130px;
    }
}

@media (min-width: 992px) {
    .cinema_calender-wrap-bot img {
        width: 120px;
        height: 150px;
    }

    .cinema_header-logo {
        padding: 0 50px;
    }
}

@media (min-width: 1200px) {}