/* Banner */

.banner {
    background-size: cover;
    background-position: center;
    height: 600px;
}

.bannerMini {
    background-size: cover;
    background-position: center;
    height: 330px;
    transition: all 0.5s;
    transform: scale(1);

}

.banner_wrap-mini {
    overflow: hidden;
}

.banner_wrap-mini:hover .bannerMini {
    transform: scale(1.2);
}

.slick-active .banner_play_icon {
    opacity: 1;
    cursor: pointer;
    color: red;
}

.banner_wrap-icon:hover .banner_play_icon {
    opacity: 0.5;
}

.banner_play_icon {
    opacity: 0;
    transition: all 0.5s;
}

.banner_wrap-icon-mini {
    top: -20%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: white;
    transition: all 0.5s;
}

.banner_wrap-icon-mini:hover .banner_play_icon-mini {
    opacity: 0.6;
}

.slick-slide:hover .banner_wrap-icon-mini {
    top: 40%
}

.banner_play_icon-mini {
    font-size: 26px;
}

.slick-slide:hover .banner_overlay {
    background: linear-gradient(to top right, rgba(192, 17, 52, 0.72) 19%, rgba(132, 50, 12, 0.6) 50%);

}

.banner_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1b264c85;
    top: 0;
    transition: 1s;
}

.slick-slide:hover .banner_content {
    top: 55%;
    height: 100px;

}

.banner_content {
    top: 70%;
    position: absolute;
    z-index: 6;
    height: 30px;
    transition: all 0.5s;
}

.banner_content-title h6 {
    font-size: 1.6vw;
    color: var(--white-yellow);
    margin: 0;
}

.slick-slide:hover .banner_mota {
    opacity: 1;
}

.banner_mota {
    transition: all 0.5s;
    opacity: 0;
    font-size: 12px;
    text-align: center;
}

.banner_mota button {
    box-shadow: 0px 0px 8px yellow;
    margin-top: 8px;
}

.banner_wrap-mini .banner_overlay {
    cursor: grab;
}

.bannerMini-date {
    display: block;
    position: absolute;
    top: 5%;
    background-color: var(--pink-yellow);
    z-index: 12;
    padding: 1px;
    color: var(--third-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.bannerMini-date span {
    display: block;
    font-size: 1vw;
    font-weight: 600;
}

.bannerMini-star i {
    color: yellow;

}

.bannerMini-star span {
    color: yellow;
    margin-left: 5px;
    font-weight: 500;
}

.banner_content-mid {
    z-index: 123;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.banner_content-mid .col-6 {
    margin: auto;
}

.banner_content-mid .row {
    height: 100%;

}

.banner_content-mid img {
    max-width: 240px;
    max-height: 330px;
    border-radius: 16px;
}

.banner_content-mid h2 {
    font-size: 3vw;
    color: var(--pink-yellow);
    font-weight: 600;
}

.banner_content-mid h4 {
    font-size: 1.8vw;
    color: white;
    font-weight: 600;
}

.banner_content-mid .row {
    align-items: center;
}

.banner_overlay-dark {
    background-color: #092035be;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}

/* Slick */
.slick-dots {
    bottom: 15px;
}

.slick-dots li button:before {
    font-size: 10px;

    color: rgba(220, 209, 209, 0.888)
}

.slick-dots li.slick-active button:before {
    font-size: 14px;
    color: rgb(255, 192, 19)
}

.star {
    font-size: 8px;
    position: absolute;
    z-index: 12;
    animation: fadeIn 5s infinite;
    animation-duration: 1200ms;
    color: rgb(214, 220, 20);
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }


    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

.star1 {
    top: 0;
    z-index: 12;
    left: 0;
}

.star2 {
    bottom: 13px;
    left: 11px;
    animation-delay: 100ms
}

.star3 {
    bottom: 9px;
    left: 35px;
    animation-delay: 500ms
}

.star4 {
    bottom: 70%;
    left: 23%;
    animation-delay: 800ms
}

.star5 {
    top: 0;
    right: 55%;
    animation-delay: 1500ms;

}

.star6 {
    bottom: 20%;
    right: 50%;
    animation-delay: 2300ms;

}

.star7 {
    top: 10%;
    right: 45%;
    animation-delay: 2500ms;

}

.star8 {
    top: 0;
    right: 18%;
    animation-delay: 3200ms
}

.star9 {
    bottom: 20%;
    right: 9%;
    animation-delay: 3500ms
}

.star10 {
    top: 0;
    right: 0;
    animation-delay: 3700ms
}

.text-shadow {
    font-weight: 600;
    font-size: 2.8vw;
}

.text-shadow.banner-dangchieu {
    color: #fff;
}

.banner-sapchieu {
    text-shadow: 0px 0px 20px #93dfe2;
    color: var(--primary-color);
}

.banner-dangchieu {
    text-shadow: 0px 0px 20px #00f7ff;

}

.banner_top {
    background-color: var(--bg-dark);

}


.banner_top-img1 {
    background-image: url("https://static.mservice.io/img/momo-upload-api-210701105436-637607336767432408.jpg");
    height: 100%;
    background-size: cover;
    background-position: top;

}

.banner_top-img2 {
    background-image: url("https://static.mservice.io/img/momo-upload-api-210701105436-637607336767432408.jpg");
    height: 100%;
    background-size: cover;
    background-position: bottom;
}


@media (max-width: 576px) {
    body {
        /* overflow: hidden; */
    }

    .date-content {
        flex-wrap: nowrap;
        max-height: 120px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .date-content::-webkit-scrollbar-track {
        border: 1px solid #000;
        background-color: #aca7a7;
    }

    .date-content::-webkit-scrollbar {
        width: 10px;
        margin-top: 10px;
        height: 5px;
    }

    .date-content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #334352;
        border: 1px solid #000;
    }

    .text-shadow {
        font-size: 4vw;
    }

    .star {
        font-size: 3px;
    }

    .bannerMini {
        height: 200px;
    }

    .bannerMini-date span {
        display: block;
        font-size: 1.4vw;
    }


    .banner {
        height: 300px;
    }

    .banner_content-mid img {
        max-height: 130px;
    }

    .modal-dialog {
        max-width: 350px !important;

    }

    .banner_content-title h6 {
        font-size: 2.4vw;
        margin: 0;
    }

}

@media (min-width: 576px) {
    .banner_content-title h6 {
        font-size: 1.5vw;
    }

}

@media (min-width: 768px) {
    .banner_content-title h6 {
        font-size: 1vw;
    }
    .bannerMini{
        height: 300px;
    }
}

@media (min-width: 992px) {
    .bannerMini{
        height: 350px;
    }
    .banner_content-mid h4 {
        font-size: 1.4vw;
    }

    .banner_content-mid h2 {
        font-size: 2.4vw;
    }


}

@media (min-width: 1200px) {}