* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color text */
    --primary-color: rgb(53, 52, 52);
    --second-color: rgb(53, 49, 49);
    --title-color: black;
    --third-color: white;
    --white-pink: white;
    --pink-yellow: rgb(222, 30, 145);
    --white-yellow: white;
    --pink-white: pink;
    --dark-pink: black;
    --border-gb: rgb(204, 201, 201);
    /* color background */
    --bg-calendar: rgb(248, 103, 161);
    --bg-main-div: rgb(246, 60, 94);
    --bg-dark: black;
    --bg-nav: #fff;
    --bg-main-body: #fff;
    --bg-main-header-fixed: rgba(255, 255, 255, 1);
    --bg-logo: rgb(255, 240, 246);
    /* btn color */


}

body.dark {
    /* color text */
    --title-color: yellow;
    --primary-color: #fff;
    --second-color: #ff1744;
    --third-color: black;
    --white-pink: pink;
    --pink-yellow: rgb(246, 255, 0);
    --white-yellow: yellow;
    --pink-white: white;
    --dark-pink: rgb(243, 77, 104);

    /* color background */
    --bg-nav: black;
    --bg-calendar: yellow;
    --bg-main-header: black;
    --bg-main-header-fixed: rgba(28, 56, 141, 1);

    --bg-main-body: rgb(14, 22, 46);
    --bg-main-div: #182028;
    --border-gb: rgb(105, 148, 192);

    --bg-logo: rgb(38, 63, 117);

    /* btn color */
    --btn-primary: #ff1744;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    background-color: antiquewhite;
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    letter-spacing: 1px;
    background-color: var(--bg-main-header);
    overflow-x: hidden;
}

/*Theme */
.change_theme {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 123;
}

.change_theme i {
    font-size: 2.5vw;
}

.change_theme .fa-moon {
    color: black;
    text-shadow: 0 0 10px red;
}

.change_theme .fa-sun {
    color: #fff;
    text-shadow: 0 0 24px white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--bg-main-div);
    height: 4px;

}


.movie__title {
    font-size: 1.875rem;
    text-align: center;
    color: #ff1744;
}

/* Overide css Slick */
.banner_icon-right,
.banner_icon-left {
    opacity: 0;
    transition: all 0.5s;
    color: var(--pink-yellow);
}

.slick-slider.slick-initialized:hover .banner_icon-right,
.slick-slider.slick-initialized:hover .banner_icon-left {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}


/* modalCss */
@media (min-width: 992px) {
    .modal.show .modal-dialog {
        max-width: 50% !important;
    }
}

.modal-dialog {
    margin: 6rem auto;
}

.btn_primary {
    font-size: 20px;
    font-weight: 600;
    color: var(--third-color);
    background-color: var(--bg-calendar);
    box-shadow: 0px 0px 8px var(--bg-calendar);
}

.btn_white {
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px white;
}

.spinner {
    position: absolute;
    overflow: hidden;
    z-index: 123;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.71);
}

.spinner-img {
    background-image: url(./asset/css/loadingspinner.gif);
    background-size: 6%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.title-basic {
    font-weight: 600;
    color: yellow;
}

.title-basic-orange {
    font-weight: 600;
    color: orange;
    font-size: 16px;
}

.title-basic-white {
    font-weight: 600;
    color: white;
    font-size: 14px;
}

.btn_div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn_movie {
    --c: orange;
    color: var(--c);
    font-size: 16px;
    border: 2px solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.btn_movie span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn_movie:hover {
    color: #fff;
}

.btn_movie:hover span {
    transform: translateY(0) scale(2);
}

.btn_movie span:nth-child(1) {
    --n: 1;
}

.btn_movie span:nth-child(2) {
    --n: 2;
}

.btn_movie span:nth-child(3) {
    --n: 3;
}

.btn_movie span:nth-child(4) {
    --n: 4;
}

.banner_top button.slick-arrow.slick-prev,
.banner_top button.slick-arrow.slick-next {
    display: none !important;
}

.banner_bottom button.slick-arrow.slick-prev,
.banner_bottom button.slick-arrow.slick-next {
    display: none !important;
}

/* ------------------Media Query---------------- */
@media (max-width: 576px) {

    button.slick-arrow.slick-prev,
    button.slick-arrow.slick-next {
        display: none !important;
    }

    .slick-next {
        right: -45px !important;
    }

    .banner_icon-right,
    .banner_icon-left {
        font-size: 27px;
    }

    .btn_primary {
        font-size: 2.5vw;
        padding: 4px;
    }

    .title-basic-orange {
        font-size: 14px;
    }

    .title-basic-white {
        font-size: 10px;

    }

    .btn_white {
        font-size: 2.5vw;
        padding: 4px;
    }


}

@media (min-width: 576px) {

    .banner_icon-right,
    .banner_icon-left {
        font-size: 32px;
    }

    .btn_primary,
    .btn_white {
        font-size: 14px;
    }
}

@media (min-width: 768px) {

    .banner_icon-right,
    .banner_icon-left {
        font-size: 40px;
    }
}

@media (min-width: 992px) {

    .btn_primary,
    .btn_white {
        font-size: 18px;
    }

}

@media (min-width: 1200px) {}